* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

html {
    font-size: 16px;
}

body {
    line-height: 2.4rem;
    font-size: 1.875rem;
    /*background-color: #F9FEF9;*/
    background-color: #1f2422;
    color: #F9FEF9;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}
h1,
h2,
h3,
h4 {
    font-family: 'Roboto', sans-serif;
    line-height: 3rem;
    padding: .625rem 1.25rem .625rem 0rem;
    font-weight: 300;
    color: #f7a655;
}

.content {
    color: #F9FEF9;
    border-left: 1px solid #f7a655;
    border-right: 1px solid #f7a655;

}

ul {
    list-style-type: circle;
    list-style-position: inside;
}

li {
    padding-bottom: .625rem;
    
}

.subsection {
    border-top: 1px solid #ffbb8d;
    padding: 0rem .625rem;
    font-weight: 100;
}

button {
    margin: .625rem;
    font-size: 1rem;
    font-weight: bold;
    color: #f7a655;
    background-color: #1f2422;
    border: 3px solid #f7a655;
    border-radius: 3px;
    padding: .625rem 1.25rem;
    cursor: pointer;

}

button:hover {
    color: #F9FEF9;
    background-color: #0E3746;
}


.responsive-image {
    max-width: 100%;
}

.cell {
    margin: 1rem;
}

.cell img {
    display: block;
}



a:visited {
    color: #f7a655;
}

a:hover {
    font-weight: bold;
    text-decoration: underline;
}

a {
    color: #f7a655;
}


@media only screen and (min-width: 50rem) {

    .subsection {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }

    .content {
        padding: 0rem 1.25rem;
        width: 50rem;
        margin: 0 auto;
    }

    .subsection-item {
        padding: .625rem 0 ;
        width: 100%;

    }
    
    .exp {
        padding: .625rem 0;
    }

    .header {
        /*
        background-color: #F9FEF9;
        color: #0E3746; */

    }

    .cell {
        width: calc(33.3333% - 2rem);
    }

    .grid {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }


}

/*
@media only screen and (min-width: 505px) and (max-width: 799px){
	
	.subsection {
		width: 50%;
		border-left: 1px solid #DBE8DC;
	}

	.education {
		width: 100%;
	}
	
	.content {
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;
	}
} */