* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

html {
    font-size: 16px;
}

header {
	font-family: 'Playfair Display', serif;
	font-size: 3rem;
	background-color: #f7a655;
	color:#212624;
	margin: 2.5rem 0;
}
body {
	color: #F9FEF9;
	background-color: #2A2A2A;
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
}
h2,
h3,
h4 {
	font-family: 'Playfair Display', serif;
	line-height: 3rem;
	color: #f7a655;
	margin: 1rem 0;
}
a:visited {
    color: #f7a655;
}

a:hover {
    font-weight: 300;
    text-decoration: underline;
}

a {
    color: #f7a655;
}
ul {
	list-style-type: circle;
    list-style-position: outside;
    margin-left: 2rem;

}
p {
	margin: 1rem 0;
}
.main-section {
	line-height: 2.6rem;
	font-size: 2rem;
	
	color: #F9FEF9;
}
.link-preview {
	/*background-color: #212624;*/
	width: 80%;
	margin: 2rem auto;
	border: 1px solid #f7a655;
	border-radius: 2px;
	padding: .625rem;
	
}

.main-topic {
	padding: .625rem;
	margin: 1.375rem 0;
}
.footer {
	display: flex;
	width: 90%;
	border-top: 2px solid #232927;
	padding: .625rem;
	justify-content: space-around;
	margin: auto;
}
.button {
	background-color: #212624;
	border: 2px solid #888888;
	border-radius: 2px;
	padding: .5rem;
}

.experience-container {

}
@media only screen and (min-width: 50rem) {
	header {
		width: 50%;
	}
	.main-section {
		line-height: 3.6rem;
		font-size: 2.4rem;
	}
	.main-buttons {
		width: 80%;
		display: flex;
		justify-content: space-around;
		padding: 1rem 0;
		margin: 2rem auto;
	}

	.link-preview {
		margin: 2rem;
		width: 70%;
		padding: 1rem;
	}
	.main-topic {
		width: 80%;
		margin: 2rem auto;
	}
	.experience {
		padding-right: 2rem;
		/*margin-right: 2rem;*/
		width: 75%;
	
	}
	.experience-container {
		display: flex;
		justify-content: space-between;
		
	}
	.footer {
		width: 70%;
	}
}