* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

html {
    font-size: 16px;
    background-color: grey;
}

.flexDemo-container {
	font-size: 2.5rem;
	
	margin: 0 auto;
	padding: 1rem;
	
	width: 90%;
	
	background: orange;
}

.inner-box {
	margin: .5rem;
	padding: .5rem;
	background-color: red;

	
}
p {
	margin: 1rem auto;
}
.demo-container {
	background-color: pink;
	margin: 0 auto;
	padding: 1rem;

}
.bruh {
	display: flex;
	
	flex-grow: 4;
	background-color: yellow;
	padding: 1rem;
	margin: 1rem;
}
.row {
	/*display: flex;*/
	
	background-color: blue;
	margin: .625rem;
	padding: .625rem;
}
#outer-container {
	background-color: green;
	
	
}
#block-container {
	background-color: teal;
	margin: 0 auto;
	width: 50%;


}
#control {
	background-color: purple;
	margin: 0 auto;
	padding: 1rem;
	
	
}
.toggle {
	position: relative;
	display: inline-block;

	width: 100px;
	height: 52px;

	background-color: #999999;
	border-radius: 30px;

	border: 2px solid blue;

	padding-top: 20px;
}



.toggle:after {
	content: '';
	position: absolute;

	width: 50px;
	height: 50px;

	border-radius: 50%;

	background-color: grey;
	top: 1px;
	left: 1px;

	transition: all 0.1s;
}

.checkbox:checked + .toggle::after {
	left: 49px;
}

.checkbox:checked + .toggle {
	background-color: green;
}

.checkbox {
	display: none;
}
.control-row {
	margin: .625rem;
	padding: .625rem;
}
pre code {
	font-size: 1rem;
	background-color: #eee;
	border: 1px solid #999;
	display: block;
	padding: .625rem;
	margin: .625rem;
  
}
.demo-container {
	margin: .625rem;
	padding: .625rem;
	width: 100%;
}
#block-container {
	margin: .625rem;
	padding: .625rem;

}
@media only screen and (min-width: 50rem){
	.flexDemo-container {
		display: flex;
	}
}